<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Document</title>
  <title>isar Mesenger</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  <link href="../fonts/fontawesome-5.9.0/css/all.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/css/bootstrap/bootstrap.css">
  <link rel="stylesheet" type="text/css" href="/css/room.css">
  <link rel="icon" href="/img/isarLogo.png">
  <meta name="theme-color">
  <meta name="description" content="Communicate With Your Freiends widthout Registration">


</head>

<body>

    <!-- Add all your websites page content here  -->
    
  <div class="justify-content-center" style="height: 100%;width: 100%;" id='app'>
    <div style="height: 100%;width: 100%;">
      <div class="card border-0" id="card" style="height:100%;width: 100%;">
        <%-include('header')%> 
          <%-include('main')%>
          <%-include('write')%>
          <%-include('type')%>

      </div>
    </div>
  </div>



  

  <script type="text/javascript" src="/socket.io/socket.io.js"></script>
  <script src="js/vue.js"></script>
  <script src="js/swal.js"></script>
  <script src="js/jquery.js"></script>
  
  <script>
  const data = {roomName:'<%=roomName%>' , userName: '<%=userName%>'}
  </script>
  <script src="js/room.js"></script>
</body>

</html>